/* inconsolata-regular - latin */
@font-face {
    font-family: 'Inconsolata';
    url: ('../font/Inconsolata.ttf')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4c2e4;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 50px;
}

.form h1 {
    margin-bottom: 40px;
    font-family: "Inconsolata";
}

.form {
    margin-left: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    height: 85vh;
}

.container:not(.info) {
    border-top-left-radius: 150px;
}

.lightning_icon {
    width: 50px;
    height: 50px;
    background: url(../img/bolt-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-image: cover;
}

.info-icon {
    background: url(../img/NFT\ blockchain.svg);
    background-repeat: no-repeat;
    background-image: cover;
    width: 865.76px;
    height: 6000px;
    transform: scale(1);
}

.info {
    height: 85vh;
    background: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-image: cover;
    border-bottom-right-radius: 150px;
}

form h1 {
    font-family: 'Inconsolata';
    font-size: 4em;
}

form input {
    border-radius: 5px;
}
/* 
.login_wrapper {
    font
} */